.custom-color {
    background-color: #009de01c; 
    color: #018cc8; 
    height: 55px;
    border-color: #018cc8;
  }
.custom-color:hover{
    background-color: #009de02f;
    color: #018cc8; 
    border-color: #018cc8;  
}

.error-message {
  color: red;
}

